<nav>
    <div class="logo">
        <a href="index.html"><img src="img/Logo/logo.svg" alt="Logo"></a>
    </div>

    <div class="menu">
        <a href="pages/reparos.html">Reparos</a>
        <a href="pages/eletrica.html">Elétrica</a>
        <a href="pages/hidraulica.html">Hidráulica</a>
        <a href="pages/alvenaria.html">Alvenaria</a>
        <div class="whatsapp-menu"><a
                href="https://wa.me/5519997809406?text=Ol%C3%A1%20eu%20vim%20do%20seu%20site%20e%20gostaria%20de%20um%20or%C3%A7amento!%20"><i
                    class="fa-brands fa-whatsapp"></i>Orçamento</a></div>
    </div>
    <div class="menu-mobile"><i class="fa-solid fa-bars"></i></div>
</nav>